/*
@font-face{ 
	font-family: 'Hippostate';
	src: url('../fonts/geometric/sketchgeometric-webfont.eot');
	src: url('../fonts/geometric/sketchgeometric-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/geometric/sketchgeometric-webfont.woff') format('woff'),
	     url('../fonts/geometric/sketchgeometric-webfont.ttf') format('truetype'),
	     url('../fonts/geometric/sketchgeometric-webfont.svg#webfont') format('svg');
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
*/
@import url('https://fonts.googleapis.com/css?family=Cousine');
