	.logo{
        font-size:44px;
        /*
		font: normal normal normal 14px/1 Hippostate;
        font-family: 'Source Code Pro', monospace;
        */
         font-family: 'Cousine', monospace;
	}
